body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#nav {
  height:6vh;
}

#container {
  margin: 0;
  background-image: url("168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg");
  height: 94vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#article {
  position: absolute;
  top: 95px;
  left: 50px;


}

#article h1 {
  font-size: 100px;
  text-transform: uppercase;
}

#article p {
  width: 500px;
  font-size: 20px;

}